version: "3.9"

services:
    coc-bot:
      image: kampfcookie313/coc-bot:latest
      restart: unless-stopped
      depends_on:
        - coc-bot-postgres
      environment:
        NODE_ENV: ${NODE_ENV}
        DATABASE_URL: ${DATABASE_URL}
        DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN}
        DISCORD_GUILD_ID: ${DISCORD_GUILD_ID}
        DISCORD_WAR_LOG_CHANNEL: ${DISCORD_WAR_LOG_CHANNEL}
        DISCORD_WAR_ATTACKS_CHANNEL: ${DISCORD_WAR_ATTACKS_CHANNEL}
        COC_API_TOKEN: ${COC_API_TOKEN}
        COC_CLAN_TAG: ${COC_CLAN_TAG}
        LOGGING_LEVEL: ${LOGGING_LEVEL}
        LOGGING_FORMAT: ${LOGGING_FORMAT}
      volumes:
        - ./cacheData:/home/node/cache:rw
      networks:
        - coc-bot-network

    coc-bot-postgres:
      image: postgres:15
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      restart: unless-stopped
      volumes:
        - ./pgdata:/var/lib/postgresql/data:rw
      networks:
        - coc-bot-network

networks:
  coc-bot-network:
    driver: bridge

volumes:
  pgdata:
  cacheData:
